<div class="container-fluid fixed-top">
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <span class="logo navbar-brand mr-5"><img class="logo" alt="DGB Logo" src="../assets/img/LogoBlanco.svg" width="30" style="margin-top: -6px">         DGB
         Social Network</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav" *ngIf="IdentUser">
         <ul class="navbar-nav justify-content-center">
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['actived']"><i class="fas fa-home"></i>
                  Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['actived']"><i class="fas fa-th-list"></i> Publicaciones</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['actived']"><i class="fas fa-users"></i> Usuarios</a>
            </li>
         </ul>
         <ul class="navbar-nav">
            <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/mensajes']" [routerLinkActive]="['actived']" title="Mensajes"><i class="far fa-envelope" style="font-size: 2rem"></i></a>
               
            </li>
            <li class="nav-item dropdown active">               
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img *ngIf="IdentUser.image != 'No image selected'" src="{{ url + 'getimage/' + IdentUser.image }}" width="35px" height="35px">
                     <img *ngIf="IdentUser.image == 'No image selected'" src="../../../assets/img/anonimous_user.png" width="35px" height="35px">
                     <span>{{IdentUser.nick}}</span>
               </a>
               <div class="dropdown-menu mr-0" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item nav-link" [routerLink]="['/profile', IdentUser._id]"><i class="fas fa-user"></i> Mi Perfil</a>
                  <a class="dropdown-item nav-link" [routerLink]="['/user-edition']"><i class="fas fa-users-cog"></i> Mis Datos</a>
                  <a class="dropdown-item nav-link pointer" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
               </div>
            </li>
         </ul>
      </div>
      <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search" style="transform: scaleX(-1)"></i></button>
         </form>-->



      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" *ngIf="!IdentUser">
         <ul class="navbar-nav">
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['actived']"><i class="fas fa-sign-in-alt"></i>
                  Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['actived']"><i class="fas fa-user-plus"></i>
                  Registro</a>
            </li>
         </ul>
      </div>
   </nav>
</div>