<h3>{{title}}</h3>
<div id="accordion" class="mt-4" *ngIf="emitted">
   <div class="card" *ngFor="let message of emitted; let i = index">
     <div class="card-header" id="heading+{{i}}">
       <h5 class="mb-0">
         <button class="btn btn-link w-100 d-flex justify-content-between collapsed" data-toggle="collapse" [attr.data-target]="'#id-'+i" aria-expanded="false" [attr.aria-controls]="'id-'+i" style="text-decoration: none">
            <div>
            <img *ngIf="message.receiver.image != 'No image selected'" src="{{ url + 'getimage/' + message.receiver.image }}" width="35px" height="35px" class="rounded-circle">
            <img *ngIf="message.receiver.image == 'No image selected'" src="../../../assets/img/anonimous_user.png" width="35px" height="35px" class="rounded-circle">&nbsp;
            <span>{{message.receiver.nick}}</span>
            </div>
            <div class="date text-secondary">
               {{ (message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
            </div>
         </button>
       </h5>
     </div>
 
     <div id="id-{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+i" data-parent="#accordion">
       <div class="card-body">
         {{message.text}}
       </div>
     </div>
   </div>
   <div class="col-11 col-md-10 col-lg-8 col-xl-7 mx-auto mt-4 text-center">
      <button class="btn btn-primary" (click)="moreViews()" *ngIf="page < totalPages">Ver más mensajes</button>         
   </div>
   <!--<div class="card">
     <div class="card-header" id="headingTwo">
       <h5 class="mb-0">
         <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Collapsible Group Item #2
         </button>
       </h5>
     </div>
     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
       <div class="card-body">
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
       </div>
     </div>
   </div>
   <div class="card">
     <div class="card-header" id="headingThree">
       <h5 class="mb-0">
         <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Collapsible Group Item #3
         </button>
       </h5>
     </div>
     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
       <div class="card-body">
         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
       </div>
     </div>
   </div> -->
 </div>
